@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

html,
body {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

a {
  color: #21cace !important;
}

.btn-primary {
  color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-body {
  box-shadow: 1px 1px 10px #d9d9d9;
}

.form-label {
  margin: 0;
}

.col-item {
  transition: all 1s ease;
}

.sidebar {
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 360px;
  height: 100%;
  background-color: #fff;
  border-right: solid 1px #d0d0d0;
}

.hide-sidebar {
  left: -360px;
  opacity: 0;
}

.hamburger-menu {
  width: 30px;
  cursor: pointer;
  margin: 30px;
  position: relative;
  z-index: 1000;
  transition: all 0.6s ease-in-out;
  position: relative;
}

.hamburger-menu:hover .hamburger-menu_item:nth-child(1) {
  transform: translateY(2px);
}

.hamburger-menu:hover .hamburger-menu_item:nth-child(3) {
  transform: translateY(-2px);
}

.hamburger-menu_item {
  border-top: solid 2px #000;
  margin-bottom: 8px;
  transition: all 0.5s ease-in-out;
}

.menu-text-hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 20px;
  pointer-events: none;
  transition: all 0.5s ease;
}

.hamburger-menu:hover .menu-text-hidden {
  opacity: 1;
  left: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: 100%;
  height: 100%;
}

.sidebar-container.close {
  width: 0;
}

.bootstrap-table-row {
  cursor: pointer;
  transition: all 0.5s ease;
}

.bootstrap-table-row:hover {
  cursor: pointer;
  box-shadow: 0px 1px 10px -2px #606060;
}

.list-container {
  overflow: auto;
  width: 2600px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-template-rows: repeat(auto-fill, 100%);
  justify-items: center;
  text-align: center;
  border-bottom: solid 1px #00000020;
  transition: all 0.5s ease;
  word-break: break-word;
}

.list a {
  color: #21cace !important;
}

.list:last-child {
  border: 0;
}

.list-header {
  cursor: auto;
}

.list--list_item {
  align-self: center;
}

.list--list_item:nth-child(1) {
  border: 0;
}

.list-collapse {
  background-color: #f5f4f4;
}

.csv-link {
  color: #21cace !important;
}

.route-list-link {
  transition: all 0.3s ease-in-out;
}

.sidebar-link,
.sidebar-link a {
  text-align: center;
  /* margin-bottom: 20px; */
  font-size: 20px;
  color: #21cace !important;
  transition: all 0.5s ease;
  text-decoration: none;
}

.sidebar-link:hover {
  display: block;
  text-align: center;
  background-color: rgb(240, 240, 240);
  color: rgb(87, 87, 87) !important;
}

.x-button {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 10px;
}

.x-button:hover {
  background-color: rgb(228, 228, 228);
}

.footer {
  margin: 20px 0;
}

.footer-link-container {
  padding: 5px;
}

.footer-link {
  color: #21cace;
}

.map-container {
  height: 600px;
  width: 100vw;
}

.pod-image-badge {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 3px;
}

.user-menu-button {
  text-align: center;
  color: #000;
  margin: auto;
}

.drawer-menu {
  position: absolute;
  opacity: 0;
  left: -110px;
  transition: all ease 0.5s;
  pointer-events: none;
  width: 200px;
}

.user-menu-button-container:hover .drawer-menu {
  opacity: 1;
  pointer-events: all;
}

.open-drawer {
  opacity: 1;
}

.drawer-nav {
  font-size: 20px;
}

.cta-button {
  position: relative;
  font-size: 14px;
  border: #21cace solid 1px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #21cace15;
  font-weight: bold;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
}

.pod-container {
  align-items: center;
}

.text-left {
  text-align: left;
}

.list-menu a {
  display: inline-block;
  margin: 5px;
}

@media screen and (max-width: 300px) {
  .hide-sidebar {
    left: -280px;
  }

  .sidebar {
    width: 280px;
  }
}
